{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primaryGray: "#d2dde9",
              secGray: "#5f5f5f",
              primaryBlue: "#98ABEE",
              secBlue: "#7a7fff",
              primaryRed: "#DA5555",
              googleRed: "#DB4437",
            },
          },
        },
      };
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- - Lato -->
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- - Archivo Black -->
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap"
      rel="stylesheet"
    />
    <!-- - Montserrat -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />
    <title>NexaFlux</title>
  </head>
  <body>
    <section class="h-screen flex flex-row blue-bg p-5 md:p-0">
      <div class="hidden md:grid w-3/5 h-full text-center login md:blue-bg">
        <div class="m-auto">
          <img
            src="{% static 'assets/img/logo/logo dark.png' %}"
            class="m-auto w-4/5"
            alt=""
          />
          <!-- <h1 class="text-5xl montserrat-bold text-white">NexaFlux</h1> -->
          <p class="w-4/5 mx-auto mt-5 text-primaryGray montserrat-medium">
            Track your digital assets and perform confirmatory market analysis
            with ease
          </p>
        </div>
      </div>
      <div
        class="relative w-full h-full m-auto p-6 bg-white rounded-2xl md:rounded-none md:p-16 md:w-2/5"
      >
        <div class="form-control mb-10">
          <span class="montserrat-bold text-3xl text-secBlue">Sign In</span>
          <p class="lato mt-2">
            New user?
            <a href="{% url 'auth:register' %}" class="font-medium text-secBlue"
              >Create an account</a
            >
          </p>
        </div>
        <form action="" method="post" class="lato">
          {% csrf_token %}
          <div class="form-control mb-5 text-sm font-medium">
            {{form.email}}
          </div>
          <div class="form-control mb-5 text-sm font-medium">
            {{form.password}}
          </div>
          <div class="form-control mb-5 flex justify-between lato">
            <div>
              <input type="checkbox" name="rme" id="rme" />
              <span class="font-medium text-secGray"
                >I agree to the
                <a href="#" class="text-primaryBlue">Terms of Service</a> and
                <a href="#" class="text-primaryBlue">Privacy Policy</a></span
              >
            </div>
          </div>
          <div class="form-control mb-5">
            <button
              class="w-full bg-secBlue font-bold rounded-full text-white py-2"
            >
              Sign In
            </button>
          </div>
          <div class="text-center my-5">
            <p class="font-bold text-sm text-secGray line">or continue with</p>
          </div>
          <div class="form-control mb-5">
            <button
              class="flex w-full gap-3 justify-center border border-primaryGray font-bold rounded-full text-white py-2"
            >
              <img
                src="{% static 'assets/img/google.png' %}"
                class="w-6 my-auto"
                alt=""
              />
              <span class="my-auto text-black">Google</span>
            </button>
          </div>
        </form>
        <div class="div-footer absolute w-full bottom-10 md:relative md:mt-28">
          <div class="form-control flex flex-row gap-2 mt-16">
            <a
              href="#"
              class="text-secGray border border-primaryGray rounded-full px-1 text-xl"
              ><i class="uil uil-github"></i
            ></a>
            <a
              href="#"
              class="text-secGray border border-primaryGray rounded-full px-1 text-xl"
            >
              <i class="uil uil-twitter"></i
            ></a>
          </div>
          <div
            class="form-control grid gap-y-2 text-secGray text-sm lato font-medium mt-5"
          >
            <div class="flex gap-3">
              <a href="#" class="">Home</a>
              <a href="#" class="">Dashboard</a>
              <a href="#" class="">About NexaFlux</a>
            </div>
            <p class="col-span-3">&copy; 2024 NexaFlux. All Right Reserved.</p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
